$color-rare: #00aeff;
$color-legendary: #fe7a15;
$color-epic: #BA87FF;
$color-highlight: #ABF0F9;
$color-answer: #0f0;
$color-grey: rgba(255,255,255,0.8);
$background-light: rgb(25, 39, 52);
$background-dark: rgb(19, 27, 35);
$border-radius: 4px;
$bottom-up-gradient: radial-gradient(ellipse at top, transparent 60%, $color-highlight)