
@import "styles/colors", "styles/sizing";

/* AT 500 lines, break apart into seperate files 

border: 1px solid rgba(0,162,253,0.15);
rgba(22, 104, 159, 0.2);
use this

*/

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $color-highlight;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}



.Landing_Page{
  font-family: 'digital-7';
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid cyan;
  overflow: hidden;
  padding-right: 25px;
}






.Product_Section{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  
}


@mixin btn($bg){
  font-family: 'digital-7';
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: .5em .8em;
  color: $bg;
  z-index: 10;
  box-shadow: 0px 0px 0px 1px $bg;
  transition: .2s ease-in;
  &:hover{
    filter: drop-shadow(0 0 0.25em $bg);
    box-shadow:0px 0px 0px 4px $bg inset;
  }
  &:active {
    background: darken($bg, 20%);
  }

}
.basic_btn{
 @include btn($color-highlight) 
}
.buy_btn{
  @include btn($color-correct) 
}
.green_btn{
  @include btn($color-correct) 
}
.yellow_btn{
  @include btn($yellow_ultra)
}
.purple_btn{
  @include btn($purple_ultra)
}
.pink_btn{
  @include btn($pink_ultra)
}
.orange_btn{
  @include btn($half_life)
}



.search_input{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  & input{
    height: 30px;
    padding-left: 10px;
    position: relative;
  }
  & label {
    position: absolute;
    left: 0;
    bottom: 14px;
    padding-left: 10px;
    transition: .3s;
    pointer-events: none;
  }
  & input:focus ~ label, input:valid ~ label {
    color: red;  
    bottom: -10px
  }
}








.TickerBar{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  
  & button{
    font-size: 12px;
  }
  
  & .ticker_feed{
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0.5em;
    background: radial-gradient(transparent 70%, $color-highlight);
    & p{  
      animation: left-to-right 15s linear infinite;
    }
  }
}




.Product{
  display: flex;
  flex-direction: column;
}
.product_main{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.product_sidebar{
  display: flex;
  flex-direction: column;
  & ul{
    padding-left: 14px;
  }
}

.MainPicture{
  width: 100%;
  height: auto;
}

.placeholder_img{
  border-radius: .3rem;
  width: 350px;
  height: auto;
  flex:2 1 0%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture_slider{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
}
.placeholder_img_SM{
  position: relative;
  background-color: gray;
  width: 70px;
  height: 70px;
  box-shadow: inset 0px 0px 1px black;
  &:hover{
    background-color: darken($color: #000000, $amount: 10%);
  }
}

.product_title{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}




.chart_holder{
   display: flex;
   width: 100%;
   position: relative;
}
.large_chart{
  width: 95%;
  height: 400px;
  background-color: gray;
  box-shadow: inset 0px 0px 1px black;
  border: 1px solid black;
}
.medium_chart{
  width: 95%;
  background-color: gray;
  box-shadow: inset 0px 0px 1px black;
  border: 1px solid black;
}


.connection_thing{
  justify-self: flex-end;
  position: relative;
  height: 15px;
  width: 15px;
  animation: spin 2s infinite;
  border: 1px solid $color-highlight;
  &:before{
    position: absolute;
    content: '';
    top: 10%;
    left: 19%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent $color-legendary transparent;
    animation: spin 2s infinite reverse;
  }
}





/* ACCOUNT FORM STYLING */
.account_form{
  display: flex;
  flex-direction: column;
}
.form_col{
  display: flex;
  border-radius: $border-radius;
  border: 1px solid $color-highlight;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  > h6 {
    position: absolute;
    top: 1%; left: 1%;
  }
  
}
.form_input{
  position: relative;
  > label {
    position: absolute;
    pointer-events: none;
    top: 10%;
    left: 5%;
    transition: .3s;
  }
  > input {
    width: 220px;
    height: 40px;
    margin-bottom: 30px;
    margin-right: 10px;
    position: relative;
  }
  & input:focus ~ label {
    color: red;  
    top: 60%;
  }
  & input:valid ~ label {
    color: $color-correct;  
    top: -40%;
    
  }
}
.form_row{
  display: flex;
  justify-content: flex-start;
}
/* form_input */




/* 

#GLOW TRAY BOX

*/

.tray{
  width: 100%;

  position: relative;

  &:hover .top_corners{
    top: 0;
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
  &:hover .bottom_corners{
    bottom: 8px;
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
}

.tray_body{
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  z-index: 10;
  position: relative;
}

.tray_bg{
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 0;
}

.glow_corner{
  transition: .3s;
  position: absolute;
  width: 100%;
  z-index: 3;
  &:before{
    content: '';
    position: absolute;
    border-color: $color-highlight;
    border-style: solid;
    width: 8px;
    height: 8px;
    transition: .3s;
    left: 25px;
  }
  &:after{
    content: '';
    border-color: $color-highlight;
    border-style: solid;
    position: absolute;
    width: 8px;
    height: 8px;
    transition: .3s;
    right: 25px;
  }  
}

.top_corners{
  top: 25px;
  &:before{
    border-width: 1px 0 0 1px;  
  }
  &:after{
    border-width: 1px 1px 0 0;
  }
}

.bottom_corners{
  bottom: 25px;
  &:before{
    border-width:  0 0 1px 1px;
  }
  &:after{
    border-width: 0 1px 1px 0;
  }
}






.Modal_background{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto;
  z-index: 100;
  background: rgba(27, 29, 30, .9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal{
  z-index: 100;
  width: 50%;
  background: black;
  border:  1px solid rgba(0,162,253,1);

  & hr {
    color: rgba(0,162,253,1);
  }


  & .modal_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }

  & .modal_body{

    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}











.TextBox{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,162,253,0.15);
  border-radius: .3rem;
  padding-bottom: 10px;
  
  & .TextBox_header{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(21, 45, 59, 0.966);
    background-image: linear-gradient(to right,rgba(13,230,255,0.15) 0%,rgba(201,189,174,0) 25%);
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background-color: rgba(13,230,255,0.5);
    }
  }

  & .TextBox_body{
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
  
}









.countdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .countdown_digits{
    display: flex;
  }
  & .interval{
    margin-right: 3px;
    margin-left: 3px;
  }
}



.quantity_container{
  text-align: center;
  .quantity_field{
    display: flex;
  
    justify-content: center;
    & button{
      font-size: 3em; 
      padding: .1em .5em;
    }
    & .quantity_selector{
      min-height: 100%; 
      width: 60px; 
      background-color: rgb(54, 54, 54); 
      border: none;
      text-align: center;
      font-size: 1.3em;
    }
  }
}



.Highlight{
  position: relative;
  & .Underline{
    position: absolute;
    height: 2px;
    width: 110%;
    background-color: $red_alert;
    bottom: -20%;
    left: -5%;
    transition: .500s; 
    opacity: .9;
    z-index: -1;
  }
  & .active {
    height: 120%;
  }
   
}

.ToolTip{
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  & span{
    font-size: 20px;
    color: $purple_ultra;
  }
  & .lightning{
    fill: $purple_ultra;
    stroke: $purple_ultra;
  }

}

.ToolTipDisplay{
  border: 1px solid $purple_ultra;
  position: absolute;
  z-index: 110;
  background-color: black;
  min-width: 400px;
  height: auto;
  bottom: 200%;
  overflow: wrap;
  left: -450%;
  & hr{
    color: $purple_ultra;
  }
  & .ToolTipDisplayBody, h5{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: relative;
  }


  &:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -15%;
    left: 10%;
    transform: rotate(-45deg);
    border-left: 1px solid $purple_ultra;
    border-bottom: 1px solid $purple_ultra;
    background-color: black;
  }

  /*   background: repeating-linear-gradient(
    0deg,
    rgba($purple_ultra, 0.95),
    rgba($purple_ultra, 0.95) 1px,
    transparent 1px,
    transparent 2px
  ); */
}


.HamburgerSVG{
  fill: $sand;
  stroke: $sand;
}






.blink_soft {
  animation: blink 2.5s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes left-to-right{
  0% {
    transform: translate(130%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Carousel{
  width: 100%;
  height: auto;
  & .Carousel_Inner{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;

  }
  & .Carousel_Item{
    list-style: none;
    cursor: pointer;
    box-shadow: 0 0 0 1px inset $color-grey;
    &:hover{
      color: $color-legendary;
      box-shadow: 0 0 0 2px inset $color-legendary;
    }
    padding: 4px 8px;
    min-width: 250px;
    & .Carousel_item_body{
      padding-top: 14px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      & img{
        width: 100px;
        
        height: 100px;
        background-image: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
      }
      & picture{}
    }   
  }
}


.Payment_Form{
  width: 100%;
  margin: 0px auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.FormGroup{
  display: flex;
  justify-content: space-between;

  width: 100%;
  & .Field{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.Card_Field{
  border-left: 1px solid $purple_ultra;
  border-bottom: 1px solid $purple_ultra;
  padding: 0px 10px 10px 0px;
  margin-top: 40px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}


@mixin Inputs($bg){
  padding: 0px 0px 10px 0px;
  border: none;
  border-left: 1px solid $bg;
  border-bottom: 1px solid $bg;
  color: $bg;
  font-size: 16px;
  padding-left: .3em;
  letter-spacing: .3em;
  transition: 0.5s;
  &:invalid{
    border: none;
    border-left: 1px solid $red_alert;
    border-bottom: 1px solid $red_alert;
  }
  &:active{
    filter: drop-shadow(0 0 1em $bg);
  }
}

// Underlined text
@mixin labels($bg) {
  color: $bg;
  position: absolute;
  display: block;
  padding: 0.5em;
  transition: 0.5s;
  cursor: inherit;
  top: -80%;
}

.Field {
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;

  & .FieldLabel{
    @include labels($purple_ultra)
  } 
  & .ErrorLabel{
    @include labels($red_alert);
    
    top: -80%;
    right: 1%;
    
  } 
  & .FieldInput{
    @include Inputs($purple_ultra);
    left: 0%;
  }
}


.Statistics_Minor{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  position: relative;
}




.Cart{
  width: 100%;
  border: 1px solid $yellow_ultra;
  padding: 10px;
  .Cart_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: 0 0 5px 0px rgba(128, 128, 128, .25) inset;
    padding: 5px 10px; 
    & button{
      font-size: 22px;
    }
  }

  .Cart_item_picture{
    max-width: 50px;
    height: auto;
  }
}







/* Loader */
.loading {
  position: relative;
  background-color: #00000080;
  overflow: hidden;
  & .loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      color-stop(rgba(255, 255, 255, 0.2)),
      to(transparent)
    );
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    -webkit-animation: loading 0.8s infinite;
    animation: loading 0.8s infinite;
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}